@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,400&family=DM+Serif+Display:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    margin: 0;
    font-family: "DM Sans", sans-serif;
  }

  /* Input styles */
  input::placeholder {
    color: #8c9898;
  }

  /* Scrollbar styles */
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background: #dde2e2;
    border-radius: 2px;
  }
}

@layer utilities {
  /* Font family utilities */
  .font-serif {
    font-family: "DM Serif Display", serif;
  }

  .font-sans {
    font-family: "DM Sans", sans-serif;
  }
}
